footer {
    margin-top: 5rem !important;
    padding-top: 3rem !important;
    border-top: 2px solid black;
}

.footer {
    padding: 0 7rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid #DADADADA;
}

footer .footer div {
    flex: 1;

}

footer .footer .footer-left {
    flex: 1;
    margin-right: 10rem;
}

footer .footer .footer-left .menu-list li .linkTitle {
    font-size: 18px;
    font-weight: 700;
    position: relative;
}

footer .footer .footer-left .menu-list li .linkTitle:before {
    position: absolute;
    content: "";
    bottom: -2px;
    width: 0%;
    height: 1px;
    background-color: black;
    transition: all .2s ease-in-out;
}

footer .footer .footer-left .menu-list li .linkTitle:hover::before {
    width: 100%;
}




footer .footer .footer-left .menu-list li ul {
    margin-top: 1rem;
    height: 100%;
}

footer .footer .footer-left .menu-list li ul li {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    width: fit-content;
}

footer .footer .footer-left .menu-list li ul li a {
    font-size: 16px;
    position: relative;
}

footer .footer .footer-left .menu-list li ul li a:before {
    position: absolute;
    content: "";
    bottom: 2px;
    width: 0%;
    height: 0.5px;
    background-color: black;
    transition: all .2s ease-in-out;
}

footer .footer .footer-left .menu-list li ul li a:hover:before {
    width: 100%;
}

footer .footer .footer-right .title h2 {
    font-size: 18px;
    font-weight: 700;
}




footer .footer .footer-right .text p {
    color: #8D8D8D;
}

.footer-bottom .left .logo a {
    font-weight: 500;
    font-size: 30px;
    color: black;
    font-family: 'Bebas Neue', sans-serif;
}

.footer-bottom {
    padding: 0 7rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
    grid-template-columns: minmax(auto, 250px) 1fr 530px;
}

.footer-bottom .left span {
    color: #8D8D8D;
    font-weight: 600;
    font-size: 13px;
}

.footer-bottom .left span a {
    color: black;
}

.footer-bottom .center {
    width: 100%;
}

.footer-bottom .right {
    margin-left: 10rem;
}

.footer-bottom .right .text h1 {
    font-weight: 600;
    font-size: 18px;
}

.footer-bottom .right .text {
    margin-bottom: 1rem;
}

.footer-bottom .right form {
    margin-bottom: 1rem;
}

.footer-bottom .right form input {
    border: 1px solid #dadadada;
    padding: 0 1rem;
    margin-right: 5px;
}

.footer-bottom .right form input:focus {
    outline: none;
}

.footer-bottom .right form .viewAllButton {
    height: 40px;
    background-color: #fbe331;
    font-weight: 600;
}

.footer-bottom .right form .viewAllButton:hover {
    background-color: #f8c62c;
}

.footer-bottom .right .form-info p {
    color: #8D8D8D;
    font-size: 12px;
    font-weight: 600;
}

.footer-bottom .right .form-info p a {
    color: #000000;
    text-decoration: underline;
}



/* !responsive */
@media(max-width:1285px) {
    .footer-bottom .center {
        width: 110%;
    }

    .footer-bottom {
        grid-template-columns: minmax(auto, 250px) 1fr 480px;
    }

    .footer-bottom .right {
        margin-left: 8rem;
    }

}

@media(max-width:991px) {
    .footer {
        flex-direction: column;
    }

    .footer {
        padding: 0 4rem;
        padding-bottom: 4rem;
    }

    footer .footer .footer-left {
        flex: 1;
        margin-right: 0rem;
    }

    footer .footer div {
        flex: 1;
        margin-top: 1.5rem;
    }

    .footer-bottom .right {
        grid-column: span 2;
        order: 1;
    }

    .footer-bottom {
        padding: 0 4rem;
    }

    .footer-bottom .left {
        order: 3;
    }
}

@media(max-width:758px) {
    .footer {
        padding: 0 1rem;
        padding-bottom: 3rem;


    }

    footer .footer .footer-left .menu-list li {
        margin-top: 1rem;
        width: 50%;
    }

    .footer-bottom {
        display: flex !important;
        flex-direction: column;
        gap: 3rem;
        margin-top: 3rem;
    }

    .footer-bottom .right {
        margin-left: 0rem;
    }

    .footer-bottom .left {
        order: 1;
    }

    .footer-bottom {
        padding: 0 1rem;
    }

    .footer-bottom .center {
        width: 100%;
        order: 3;
    }

    .footer-bottom .right form input {

        width: 50%;
    }


}